<p>tareas-simple works!</p>
<alt-instrucciones [autor]="'Alejandro Cerezo'">
  <h2>Instrucciones de las tareas</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere eum quam, facilis magni quos illum quae eius perspiciatis aperiam! Ab cupiditate tenetur doloribus explicabo? Maiores vero voluptate et ipsa reiciendis.</p>
  <p>Ipsum facere nulla placeat corrupti ullam dignissimos, amet nesciunt iure dolor quo repellat vitae sint modi ad ea provident est voluptate alias quia odio? Sint amet voluptates laboriosam ipsum. Voluptatibus!</p>
  <p>Beatae temporibus nulla repellat molestias fugit ipsum illum ducimus tenetur corrupti reprehenderit nam aut inventore velit autem commodi, excepturi incidunt rerum harum? Voluptatum suscipit itaque sint reprehenderit at, ex explicabo.</p>
</alt-instrucciones>
